@page "/"

@rendermode InteractiveServer

<section class="hero is-link">
    <div class="hero-body">
        <p class="title">Chat AI</p>
        <p class="subtitle">Ask your question</p>
    </div>
</section>

<div class="container is-max-tablet mt-4">
    <div class="columns mb-0">
        <div class="column is-full">
            <small><i>Place your question:</i></small>
            <EditForm id="promptForm" Enhance Model="Prompt" OnSubmit="() => sendQuestion()" FormName="prompt">
                <div class="field mt-2">
                    <div class="control is-large @(loadingAnswer?"is-loading":"")">
                        <InputTextArea id="prompt" @bind-Value="Prompt.text" class="textarea is-info" autofocus="autofocus" disabled="@formDisabled" placeholder="Plase some question here..." autocomplete="off" />
                    </div>
                </div>
                @if (loadingAnswer)
                {
                    <progress class="progress is-small is-info" max="100">15%</progress>
                }

                <div class="control">
                    <button class="button is-link is-small" id="btn" type="submit">Send</button>
                </div>
            </EditForm>
        </div>
    </div>
    <div class="columns">
        <div class="column is-full">
            @if (responses.Count > 0)
            {
                <hr />
                @foreach (dynamic response in responses)
                {
                    <article class="message mt-5 mb-0">
                        <div class="message-body">
                            You: <span class="has-text-white">@response.question</span>
                            <br>
                            &nbsp;A.I.: <span class="has-text-primary">@response.answer</span>
                        </div>
                    </article>
                    <code class="has-text-grey">Time to reply: <span class="has-text-danger">@($"{response.time}")s</span></code>
                }
            }
        </div>
    </div>
</div>